<nav style="background-color: #666; text-align: center; padding: 10px 0;">
    <a href="../" style="color: #fff; text-decoration: none; margin: 0 10px;">Inicio</a>
    <a href="../books" style="color: #fff; text-decoration: none; margin: 0 10px;">Catálogo</a>
    <a href="#contacto" style="color: #fff; text-decoration: none; margin: 0 10px;">Contacto</a>
</nav>