
data_layer/Dataset/books.csv
.DS_Store
data_layer/.DS_Store
data_layer/Dataset/tablaAutor.csv
data_layer/Dataset/tablaEditorial.csv
data_layer/Dataset/tablaLibro.csv
/application_layer/node_modules
application_layer/credentials.json
application_layer/credentialsServer.json
