<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Libros - Re:Books</title>
</head>

<body>

    <header>
        <h1 style="text-align: center;">Catálogo de Libros</h1>
    </header>

    <section>

        <% booksL.forEach(function(book) { %>
        <li>
            <%= book.nombre %>
            <%= book.precio %>
            <%= book.nombresApellidos %>
            <%= book.editorial %>
        </li>
        <% }); %>
    </section>

    <footer>
        <p style="text-align: center;">&copy; 2024 Re:Books - Todos los derechos reservados</p>
    </footer>

</body>

</html>
