<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <h2>
        Book: {{nombreLibro}}
    </h2>
    <h2>
        Autores: {{nombreAutores}}
    </h2>
    <h2>
        Editorial: {{nombreEditorial}}
    </h2>
    <h2>
        Numero de Paginas: {{numPaginas}}
    </h2>
    <h2>
        Año Publicado: {{anhoPublicado}}
    </h2>
    <h2>
        Precio: {{precio}}
    </h2>
</html>
