<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Re:Books - Librería en línea</title>
</head>

<%- include('../presentation_layer/partials/header'); %>
<%- include('../presentation_layer/partials/navigationMenu'); %>

<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f6f6f6; color: #333;">

    <section id="inicio" style="padding: 20px; text-align: center;">
        <h2>Bienvenido a Re:Books</h2>
        <p>Descubre una amplia selección de libros, mangas y novelas ligeras.</p>
    </section>

    <section id="catalogo" style="padding: 20px; text-align: center;">
        <h2>Catálogo</h2>
        <p>Explora nuestro catálogo y encuentra tus libros favoritos.</p>
    </section>

    <section id="contacto" style="padding: 20px; text-align: center;">
        <h2>¡Contáctanos!</h2>
        <p>Email: inforeebooks@gmail.com</p>
        <p>Teléfono: +01 5678721</p>
    </section>



</body>

<footer>
        <%- include('../presentation_layer/partials/footer'); %>
</footer>

</html>
